

<h1 class="headinng">Angular components with Data structure</h1>

<button><a  routerLink ='/studentlist'>estudent-list</a></button>
<button><a  routerLink ='/employeelist'>employee-list</a></button>
<button><a  routerLink ='/fruitlist'>fruit-list</a></button>
<button><a  routerLink ='/courselist'>Courselist</a></button>
<button><a  routerLink ='/booklist'>Book list</a></button>
<button><a  routerLink ='/citylist'>City list</a></button>
<button><a  routerLink ='/movielist'>Movie list</a></button>
<button><a  routerLink ='/carlist'>Car model list</a></button>
<button><a  routerLink ='/productlist'>Product list</a></button>
<button><a  routerLink ='/subjectlist'>Subject list</a></button>

<button><a  routerLink ='/sportlist'>Sport list</a></button>
<button><a  routerLink ='/vegetableslist'>Vegetable list</a></button>
<button><a  routerLink ='/animallist'>Animal list</a></button>
<button><a  routerLink ='/toollist'>Tool list</a></button>
<button><a  routerLink ='/languagelist'>Language list</a></button>
<button><a  routerLink ='/gamelist'>Game list</a></button>
<button><a  routerLink ='/softwarelist'>Software list</a></button>
<button><a  routerLink ='/contactlist'>Contact list</a></button>
<button><a  routerLink ='/'>Music list</a></button>
<button><a  routerLink ='/foodmenulist'>Food menu list</a></button>
<button><a  routerLink ='/countrylist'>Country list</a></button>


