

<h1 class="headinng">Angular components with Data structure</h1>

<button><a  routerLink ='/studentlist'>estudent-list</a></button>
<button><a  routerLink ='/employeelist'>employee-list</a></button>
<button><a  routerLink ='/fruitlist'>fruit-list</a></button>
<button><a  routerLink ='/courselist'>Courselist</a></button>
<button><a  routerLink ='/booklist'>Book list</a></button>
<button><a  routerLink ='/citylist'>City list</a></button>
<button><a  routerLink ='/movielist'>Movie list</a></button>
<button><a  routerLink ='/carlist'>Car model list</a></button>
<button><a  routerLink ='/productlist'>Product list</a></button>
<button><a  routerLink ='/subjectlist'>Subject list</a></button>

