<h3>Ballerina Farm Store - Vegetables List</h3>

<h4>Add Vegetable</h4>
<input #vegetableName placeholder="Vegetable Name" />
<input #vegetableQuantity type="number" placeholder="Quantity" />
<input #vegetablePrice type="number" placeholder="Price per unit" />
<button (click)="addVegetable(vegetableName, vegetableQuantity, vegetablePrice); 
               vegetableName.value=''; vegetableQuantity.value=''; vegetablePrice.value=''">
  Add Vegetable
</button>

<ul>
  <li *ngFor="let vegetable of vegetables">
    <h3>{{ vegetable.name }}</h3>
    <p>Quantity: {{ vegetable.quantity }}</p>
    <p>Price per unit: ₱{{ vegetable.price }}</p>
    <button (click)="removeVegetable(vegetable.id)">Remove</button>
  </li>
</ul>