<div class="container">
  <h1>Student List</h1>
  <input #studentName placeholder="Enter student name">
  <button (click)="addStudent(studentName.value); studentName.value=''">
    Add Student to the List
  </button>
  
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Student Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ student }}</td>
        <td>
          <button (click)="removeStudent(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
