<div class="container">
    <h1>Employee List</h1>
    <input #employeeName placeholder="Enter employee name">
    <button (click)="addEmployee(employeeName.value); employeeName.value=''">
      Add Employee to the List
    </button>
    
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Employee Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ employee }}</td>
          <td>
            <button (click)="removeEmployee(i)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  